/*
COLORS

Primary: #eb2f64
Primary light: #FF3366
Primary dark: #BA265D

Grey light 1: #faf9f9
Grey light 2: #f4f2f2
Grey light 3: #f0eeee
Grey light 4: #ccc

Grey dark 1: #333
Grey dark 2: #777
Grey dark 3: #999

*/
* {
  padding: 0;
  margin: 0;
  outline: none; }
  * ::-moz-selection {
    /* Code for Firefox */
    color: #ffffff;
    background: #D31027; }
  * ::selection {
    color: #ffffff;
    background: #D31027; }

*,
::after,
::before {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 58.5%; } }
  @media only screen and (max-width: 68.75em) {
    html {
      font-size: 55.5%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50.5%; } }
  @media only screen and (max-width: 45.43em) {
    html {
      font-size: 48.5%; } }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 46.5%; } }
  @media only screen and (max-width: 31.25rem) {
    html {
      font-size: 40.5%; } }
  @media only screen and (max-width: 27rem) {
    html {
      font-size: 43.5%; } }

body {
  font-family: 'Lato', sans-serif;
  position: relative;
  color: #f5f5f5;
  line-height: 1.6;
  font-weight: 400; }

.container {
  overflow: hidden; }

header
header {
  background-color: #ffffff; }

.headercontainer {
  display: flex;
  flex-direction: row;
  height: 100vh;
  background-color: #ffffff; }
  @media only screen and (max-width: 45.43em) {
    .headercontainer {
      height: 90vh; } }
  @media only screen and (max-width: 37.5em) {
    .headercontainer {
      height: 80vh; } }
  @media only screen and (max-width: 31.25rem) {
    .headercontainer {
      height: 60vh; } }
  @media only screen and (max-width: 27rem) {
    .headercontainer {
      font-size: 50vh; } }

.sec1 {
  width: 45%;
  height: 100%;
  position: relative;
  display: flex;
  overflow: hidden;
  clip-path: polygon(0 0, 90% 0, 100% 100%, 0 100%);
  background-image: linear-gradient(to right bottom, rgba(211, 16, 39, 0.9), rgba(234, 56, 77, 0.9)), url(../img/banner2.jpg);
  background-position: center;
  background-size: cover; }
  .sec1_img {
    position: absolute;
    bottom: 0;
    left: 3rem;
    height: 60rem;
    margin-bottom: -1rem; }
    @media only screen and (max-width: 45.43em) {
      .sec1_img {
        left: 2rem; } }
    @media only screen and (max-width: 37.5em) {
      .sec1_img {
        height: 50rem; } }
    @media only screen and (max-width: 27rem) {
      .sec1_img {
        left: 50%;
        height: 40rem;
        transform: translateX(-50%); } }

.btnholder {
  display: inline-block;
  flex-grow: 0; }

.sec2 {
  background-color: #ffffff;
  height: 100%;
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .sec2_btn {
    outline: none;
    border: none;
    font-family: 'Lato', sans-serif;
    padding: 1.4rem 5rem;
    font-size: 1.3rem;
    border-radius: 4rem;
    letter-spacing: 2px;
    color: #EA384D;
    cursor: pointer;
    text-transform: uppercase;
    background-color: #ffffff;
    box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.2);
    margin-top: 5rem;
    transition: all .3s;
    animation: comeUp 1.5s ease-in;
    display: inline-block; }
    .sec2_btn:active {
      outline: none;
      border: none; }
    .sec2_btn:link {
      outline: none;
      border: none; }
    .sec2_btn:hover {
      color: #ffffff;
      transform: scale(1.1);
      background-color: #EA384D; }

.circle {
  background-color: #ffff;
  color: transparent;
  position: absolute;
  opacity: .2;
  border-radius: 50%; }

.c1 {
  top: 0;
  left: 0;
  width: 14rem;
  height: 14rem;
  margin-left: -2rem;
  margin-top: -2rem; }
  @media only screen and (max-width: 27rem) {
    .c1 {
      transform: scale(0.7); } }

.c2 {
  left: 1rem;
  bottom: 1rem;
  width: 20rem;
  height: 20rem; }
  @media only screen and (max-width: 27rem) {
    .c2 {
      transform: scale(0.7); } }

.c3 {
  top: 40%;
  right: 0;
  margin-right: 1rem;
  width: 8rem;
  height: 8rem; }
  @media only screen and (max-width: 27rem) {
    .c3 {
      transform: scale(0.7); } }

.c4 {
  top: 25%;
  right: 40%;
  width: 12rem;
  height: 12rem; }
  @media only screen and (max-width: 27rem) {
    .c4 {
      transform: scale(0.7); } }

.about {
  position: relative;
  background-color: #ffffff;
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: 3rem  1rem;
  padding-top: 4rem; }
  .about_sec1 {
    width: 40%;
    background-color: #ffffff; }
    @media only screen and (max-width: 31.25rem) {
      .about_sec1 {
        width: 100%;
        padding: 2rem; } }
  .about_sec2 {
    position: relative;
    width: 60%;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center; }
    @media only screen and (max-width: 31.25rem) {
      .about_sec2 {
        width: 90%;
        height: 40vh; } }
    @media only screen and (max-width: 27rem) {
      .about_sec2 {
        height: 50vh; } }
    .about_sec2_img1 {
      width: 25rem;
      border-radius: .5rem;
      position: absolute;
      top: 8rem;
      left: 35%;
      z-index: 1;
      transition: all .3s; }
      @media only screen and (max-width: 31.25rem) {
        .about_sec2_img1 {
          transform: scale(0.8);
          top: 3rem; } }
      @media only screen and (max-width: 27rem) {
        .about_sec2_img1 {
          left: 50%;
          height: 40rem;
          transform: translateX(-50%) scale(0.8); } }
      .about_sec2_img1:hover {
        padding: 1rem;
        border: solid 1rem  #EA384D;
        z-index: 10;
        border-radius: .5rem; }
    .about_sec2_img2 {
      width: 25rem;
      border-radius: .5rem;
      position: absolute;
      top: 2rem;
      right: 14rem;
      z-index: 1;
      transition: all .3s; }
      .about_sec2_img2:hover {
        padding: 1rem;
        border: solid 1rem  #EA384D;
        z-index: 10;
        border-radius: .5rem; }
      @media only screen and (max-width: 31.25rem) {
        .about_sec2_img2 {
          right: 10rem;
          top: 1rem;
          transform: scale(0.8); } }
      @media only screen and (max-width: 27rem) {
        .about_sec2_img2 {
          right: -25%;
          transform: translateX(-50%) scale(0.8); } }
    .about_sec2_img3 {
      width: 20rem;
      position: absolute;
      top: 30rem;
      left: 13rem; }
      @media only screen and (max-width: 31.25rem) {
        .about_sec2_img3 {
          left: 20rem;
          transform: scale(0.8);
          top: 20rem; } }
      @media only screen and (max-width: 27rem) {
        .about_sec2_img3 {
          right: -35%;
          top: 24rem;
          transform: translateX(-60%) scale(0.8); } }
  .about_btn {
    border: none;
    outline: none;
    margin-left: 9rem;
    margin-top: 1rem;
    font-size: 1.4rem;
    transition: all .3s;
    color: #757575;
    padding-bottom: 2px;
    background-color: transparent; }
    .about_btn:hover {
      border-bottom: solid #EA384D;
      letter-spacing: .8px;
      padding-bottom: 2px; }
  .about_img4 {
    width: 100%; }
  .about_title {
    color: #757575;
    font-weight: 400;
    font-size: 1.9rem;
    width: 80%;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    font-family: 'Lato', sans-serif;
    padding-left: 9rem; }
    @media only screen and (max-width: 56.25em) {
      .about_title {
        padding-left: 5rem; } }
    @media only screen and (max-width: 37.5em) {
      .about_title {
        padding-left: 3rem; } }
  .about_text {
    color: #757575;
    font-weight: 300;
    font-size: 1.5rem;
    width: 90%;
    line-height: 2.5rem;
    font-family: 'Lato', sans-serif;
    padding-left: 9rem; }
    @media only screen and (max-width: 56.25em) {
      .about_text {
        padding-left: 5rem; } }
    @media only screen and (max-width: 37.5em) {
      .about_text {
        padding-left: 3rem; } }
  @media only screen and (max-width: 56.25em) {
    .about {
      padding: 6rem 0;
      margin: .5rem; } }
  @media only screen and (max-width: 37.5em) {
    .about {
      margin: .35rem; } }
  @media only screen and (max-width: 31.25rem) {
    .about {
      flex-direction: column; } }

.features {
  flex-grow: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 10rem; }
  .features .features_box {
    margin: 2.5rem 9rem;
    margin-top: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between; }
    @media only screen and (max-width: 56.25em) {
      .features .features_box {
        margin: 2.5rem 4rem; } }
    @media only screen and (max-width: 45.43em) {
      .features .features_box {
        margin: 2.5rem 2rem; } }
    @media only screen and (max-width: 37.5em) {
      .features .features_box {
        margin: 2.5rem 1.5rem; } }
    @media only screen and (max-width: 31.25rem) {
      .features .features_box {
        flex-direction: column;
        width: 100;
        align-items: center; } }
  .features_svg {
    width: 10rem;
    height: 7rem;
    fill: #ffffff; }
    @media only screen and (max-width: 45.43em) {
      .features_svg {
        width: 6rem;
        height: 6rem; } }
    @media only screen and (max-width: 37.5em) {
      .features_svg {
        width: 5rem;
        height: 5rem; } }
    @media only screen and (max-width: 31.25rem) {
      .features_svg {
        width: 10rem;
        height: 7rem; } }
  .features_item {
    background-image: linear-gradient(rgba(234, 56, 77, 0.93), rgba(234, 77, 56, 0.93)), url(../img/banner.jpg);
    animation: cardIn 1s ease-in;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 5rem 3rem;
    width: 25rem;
    border-radius: 2rem;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    background-color: #fafafa;
    box-shadow: 0 0.08rem 0.4rem rgba(0, 0, 0, 0.1);
    transition: all .3s;
    background-size: cover;
    background-position: top; }
    @media only screen and (max-width: 45.43em) {
      .features_item {
        padding: 4rem 2rem; } }
    @media only screen and (max-width: 37.5em) {
      .features_item {
        padding: 3rem 1rem; } }
    @media only screen and (max-width: 31.25rem) {
      .features_item {
        padding: 4rem 2rem;
        margin-bottom: 2rem;
        width: 90%; } }
    .features_item:not(:last-child) {
      margin-right: 4rem; }
      @media only screen and (max-width: 56.25em) {
        .features_item:not(:last-child) {
          margin-right: 2rem; } }
      @media only screen and (max-width: 45.43em) {
        .features_item:not(:last-child) {
          margin-right: 1.3rem; } }
    .features_item:hover {
      box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.1);
      transform: scale(1.01) translateY(1rem) rotate(10deg); }
  .features_text {
    color: #fcfcfc;
    font-weight: 400;
    font-size: 1.5rem;
    width: 90%;
    line-height: 2.5rem;
    font-family: 'Lato', sans-serif;
    text-align: center;
    line-height: 22px;
    margin-top: 1rem; }
    @media only screen and (max-width: 31.25rem) {
      .features_text {
        font-size: 2rem; } }

.icon-big {
  margin: auto;
  fill: #ffffff;
  width: 2.8rem;
  height: 2.8rem;
  cursor: pointer; }

.icon-holder {
  background-color: transparent;
  width: 6.5rem;
  height: 6.5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: .21rem solid #ffffff;
  transition: all .2s; }
  .icon-holder:hover {
    background-color: rgba(255, 255, 255, 0.2); }

.faculty {
  margin: 1rem 0rem;
  background-image: linear-gradient(rgba(234, 56, 77, 0.93), rgba(234, 77, 56, 0.93)), url(../img/banner.jpg);
  padding: 3rem; }
  @media only screen and (max-width: 37.5em) {
    .faculty {
      width: 100%; } }
  .faculty_base {
    display: flex;
    flex-direction: row; }
    @media only screen and (max-width: 37.5em) {
      .faculty_base {
        flex-direction: column;
        width: 100%; } }
  .faculty_contact {
    display: flex;
    width: 50%;
    flex-direction: column;
    padding: 4rem; }
    @media only screen and (max-width: 37.5em) {
      .faculty_contact {
        width: 100%; } }
    .faculty_contact_item {
      display: flex;
      flex-direction: row;
      margin: 1.5rem;
      align-items: center; }
      @media only screen and (max-width: 37.5em) {
        .faculty_contact_item {
          width: 100%; } }
      .faculty_contact_item_svg {
        width: 5rem;
        height: 5rem;
        fill: #ffffff; }
  .faculty_img {
    width: 28rem;
    border-top-left-radius: 4rem;
    border-bottom-right-radius: 4rem;
    margin: 2rem; }
  .faculty_container {
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    padding: 3rem; }
    @media only screen and (max-width: 37.5em) {
      .faculty_container {
        width: 100%; } }
  @media only screen and (max-width: 27rem) {
    .faculty {
      padding: 1rem; } }
  .faculty_item {
    box-shadow: 0 0.1rem 1.3rem rgba(0, 0, 0, 0.1);
    padding: 2rem;
    background-color: #ffff;
    display: flex;
    border-radius: .5rem;
    flex-direction: row; }
    .faculty_item:not(:last-child) {
      margin-bottom: 4rem; }
    @media only screen and (max-width: 37.5em) {
      .faculty_item {
        flex-direction: column; } }
    @media only screen and (max-width: 27rem) {
      .faculty_item {
        margin: 1.1rem 0;
        padding: 1.1rem;
        flex-direction: row; } }
    .faculty_item_img {
      width: 13rem;
      height: 13rem;
      border-radius: 50%; }
    .faculty_item_box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: 2rem; }
    .faculty_item_title {
      font-size: 1.8rem;
      color: #757575;
      font-weight: 300;
      word-spacing: .01rem; }
    .faculty_item_text {
      font-size: 1.6rem;
      color: #757575;
      font-weight: 400;
      word-spacing: .01rem; }

.socialmedia {
  padding: 4rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.08);
  border-radius: .5rem; }
  .socialmedia_item {
    background-color: #ffffff;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .2s;
    margin: 2rem; }
    .socialmedia_item:hover {
      transform: scale(1.1); }
    .socialmedia_item_icon {
      width: 2rem;
      height: 2rem;
      margin: 2rem;
      transition: all .2s;
      fill: #EA384D;
      cursor: pointer; }
      .socialmedia_item_icon_w:hover {
        fill: #4FCE5D; }
      .socialmedia_item_icon_f:hover {
        fill: #3b5998; }
      .socialmedia_item_icon_y:hover {
        fill: #c4302b; }
      .socialmedia_item_icon_i:hover {
        fill: #ff0141; }

.comments {
  padding: 2rem;
  background-position: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin: 5rem 6rem;
  border-top-left-radius: 1rem; }
  @media only screen and (max-width: 56.25em) {
    .comments {
      margin: 5rem 3rem;
      padding: 1.5rem; } }
  @media only screen and (max-width: 45.43em) {
    .comments {
      margin: 5rem 1.5rem;
      padding: 1.5rem; } }
  @media only screen and (max-width: 37.5em) {
    .comments {
      padding: 3rem 1rem; } }
  @media only screen and (max-width: 31.25rem) {
    .comments {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(4, min-content); } }
  @media only screen and (max-width: 27rem) {
    .comments {
      padding: 2rem; } }
  .comments_item {
    overflow: hidden;
    position: relative;
    margin: 2rem 0;
    width: 85%;
    box-shadow: 0 0.1rem 1.3rem rgba(0, 0, 0, 0.1);
    padding: 2rem;
    background-color: #ffff;
    display: flex;
    border-radius: .5rem;
    align-self: center;
    justify-self: center;
    flex-direction: row;
    transition: all .2s; }
    @media only screen and (max-width: 68.75em) {
      .comments_item {
        margin: 1.5rem 0;
        padding: 1.8rem;
        width: 89%; } }
    @media only screen and (max-width: 56.25em) {
      .comments_item {
        margin: 1.5rem 0;
        padding: 1.8rem;
        width: 90%; } }
    @media only screen and (max-width: 45.43em) {
      .comments_item {
        margin: 1.3rem 0;
        padding: 1.5rem;
        width: 98%; } }
    @media only screen and (max-width: 37.5em) {
      .comments_item {
        margin: 1.1rem 0;
        padding: 1.3rem;
        flex-direction: column; } }
    @media only screen and (max-width: 27rem) {
      .comments_item {
        margin: 1.1rem 0;
        padding: 1.5rem;
        flex-direction: row; } }
    .comments_item:hover {
      transform: scale(1.02);
      box-shadow: 0 0.1rem 1.4rem rgba(0, 0, 0, 0.15); }
    .comments_item_item1 {
      position: absolute;
      top: 25rem;
      left: -5rem;
      width: 20rem;
      height: 20rem; }
    .comments_item_img {
      width: 13rem;
      height: 13rem;
      border-radius: 50%; }
    .comments_item_box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: 2rem; }
      @media only screen and (max-width: 56.25em) {
        .comments_item_box {
          padding-left: 1.5rem; } }
  @media only screen and (max-width: 68.75em) {
    .comments {
      margin: 5rem 4rem; } }
  @media only screen and (max-width: 37.5em) {
    .comments {
      margin: 5rem 2.5rem; } }

.commentHead {
  position: absolute;
  top: 0;
  left: -15%; }
  @media only screen and (max-width: 31.25rem) {
    .commentHead {
      position: relative;
      left: 0; } }

.commentcol1 {
  grid-row: 1/span 2;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  position: relative; }
  .commentcol1:first-child {
    justify-self: start;
    align-self: flex-start; }

.quoteicon {
  font-size: 20rem;
  color: #79787831;
  position: absolute;
  top: -40%;
  right: 0;
  font-family: 'Lato', sans-serif; }

.gallery {
  margin: 12rem 0;
  padding: 4rem 2rem;
  width: 100%; }
  @media only screen and (max-width: 37.5em) {
    .gallery {
      margin: 6rem 0; } }
  .gallery_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all .2s; }
    .gallery_img:hover {
      border: solid 1rem #EA384D;
      transform: rotate(5deg); }

.gallerytable {
  height: 85vh;
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(8, 1fr);
  grid-gap: 1rem; }
  @media only screen and (max-width: 37.5em) {
    .gallerytable {
      height: 65vh; } }
  @media only screen and (max-width: 27rem) {
    .gallerytable {
      height: 50vh; } }

.col1 {
  background-color: #EA384D;
  grid-row: 1/span 8;
  grid-column: 1/span 3; }

.col2 {
  background-color: #e14141;
  grid-row: 1/span 2;
  grid-column: 4/span 2; }

.col3 {
  background-color: #EA384D;
  grid-row: 1/span 2;
  grid-column: 6/span 2; }

.col4 {
  background-color: #EA384D;
  grid-row: 1/span 5;
  grid-column: 8/span 4; }

.col5 {
  background-color: #EA384D;
  grid-row: 3/span 3;
  grid-column: 4/span 4; }

.col6 {
  background-color: #EA384D;
  grid-row: 6/span 3;
  grid-column: 8/span 4; }

.col7 {
  background-color: #EA384D;
  grid-row: 6/span 3;
  grid-column: 4/span 4; }

.footer {
  width: 100%;
  background-color: #2b2b2b;
  display: flex;
  flex-direction: column;
  padding: 4rem 3rem;
  align-items: center; }
  .footer_img {
    width: 16rem; }
  .footer_holder {
    margin: 3rem 0;
    display: flex;
    flex-direction: row;
    flex: 1;
    width: 100%; }
    @media only screen and (max-width: 37.5em) {
      .footer_holder {
        flex-direction: column; } }
    .footer_holder_sec1 {
      width: 50%; }
      @media only screen and (max-width: 37.5em) {
        .footer_holder_sec1 {
          width: 100%; } }
    .footer_holder_credit {
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: center; }
      @media only screen and (max-width: 37.5em) {
        .footer_holder_credit {
          width: 100%;
          margin-top: 4rem; } }
      .footer_holder_credit_text {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.4rem;
        padding: .5rem 1rem;
        margin: 1.5rem;
        text-align: center; }
        @media only screen and (max-width: 37.5em) {
          .footer_holder_credit_text {
            padding: .8rem 1rem; } }
        .footer_holder_credit_text::before {
          content: " ";
          width: 70%;
          height: 2px;
          background-color: #505050;
          position: absolute;
          top: 0; }
    .footer_holder_nav {
      list-style: none;
      display: flex;
      flex-direction: row;
      justify-content: center;
      position: relative; }
      .footer_holder_nav::before {
        content: " ";
        width: 70%;
        height: 2px;
        background-color: #505050;
        position: absolute; }
      .footer_holder_nav_item {
        cursor: pointer;
        font-size: 1.4rem;
        padding: .5rem 1rem;
        margin: 1rem;
        transition: all .2s;
        background-color: #2b2b2b; }
        .footer_holder_nav_item:hover {
          transform: rotate(5deg) scale(1.2);
          border: 2px solid #fff; }

@keyframes cardIn {
  0% {
    transform: translateX(-7rem);
    opacity: 0; }
  100% {
    transform: translateX(0rem);
    opacity: 1; } }

@keyframes sideIn {
  0% {
    opacity: 0;
    transform: translateX(-14rem); }
  60% {
    opacity: 0.7;
    transform: translateX(5rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes sideInr {
  0% {
    opacity: 0;
    transform: translateX(14rem); }
  60% {
    opacity: 0.7;
    transform: translateX(-5rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes zoom {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes comeUp {
  0% {
    opacity: 0;
    transform: translateY(-10rem); }
  100% {
    opacity: 1;
    transform: translateY(0rem); } }

body::-webkit-scrollbar {
  width: 1.3em; }

body::-webkit-scrollbar-track {
  background-color: #f7f7f7; }

body::-webkit-scrollbar-thumb {
  border-radius: 2rem;
  background-image: linear-gradient(to right bottom, rgba(211, 16, 39, 0.9), rgba(234, 56, 77, 0.9)); }

h1 {
  color: #EA384D;
  font-size: 8rem;
  font-weight: 700;
  letter-spacing: .4rem;
  line-height: 5rem;
  margin-top: 2.5rem;
  margin-bottom: .2rem;
  animation: zoom 1.4s; }
  @media only screen and (max-width: 27rem) {
    h1 {
      font-size: 5rem; } }

h2 {
  font-size: 3.2rem;
  color: #757575;
  font-weight: 300;
  word-spacing: .01rem;
  animation: sideInr 2s ease-in-out; }
  @media only screen and (max-width: 27rem) {
    h2 {
      font-size: 2.2rem; } }

h3 {
  font-size: 3.2rem;
  color: #757575;
  font-weight: 300;
  word-spacing: .01rem;
  animation: sideIn 2s ease-in-out; }
  @media only screen and (max-width: 27rem) {
    h3 {
      font-size: 2.2rem; } }

h5 {
  font-size: 2rem;
  color: #f7f7f7;
  font-weight: 300;
  word-spacing: .01rem; }
  @media only screen and (max-width: 45.43em) {
    h5 {
      font-size: 1.8rem; } }
  @media only screen and (max-width: 31.25rem) {
    h5 {
      font-size: 2rem; } }

h4 {
  display: inline-block;
  font-size: 3rem;
  width: auto;
  color: #757575;
  font-weight: 300;
  word-spacing: .01rem;
  font-weight: 700;
  font-family: 'Lato', sans-serif;
  padding-left: 9rem;
  transition: all .2s; }
  @media only screen and (max-width: 56.25em) {
    h4 {
      padding-left: 5rem; } }
  @media only screen and (max-width: 37.5em) {
    h4 {
      padding-left: 3rem;
      margin-bottom: 1rem; } }
  h4:hover {
    text-shadow: 0 0 0.6rem rgba(0, 0, 0, 0.2);
    letter-spacing: 2px; }

.h4style {
  margin-top: 1rem; }

h6 {
  font-size: 2rem;
  color: #EA384D;
  font-weight: 400;
  word-spacing: .01rem; }

.facultyhead {
  margin-left: 0;
  display: inline-block;
  font-size: 3rem;
  color: #ffffff;
  font-weight: 300;
  word-spacing: .01rem;
  font-weight: 700;
  font-family: 'Lato', sans-serif; }
  .facultyhead:hover {
    text-shadow: 0 0 0.6rem rgba(0, 0, 0, 0.2); }

.faculty_contact_text {
  font-size: 1.8rem;
  margin-left: 2rem;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  transition: all .2s;
  cursor: pointer; }
  .faculty_contact_text:hover {
    letter-spacing: 1.5px;
    border-bottom: solid 2px rgba(255, 255, 255, 0.4); }

q {
  font-size: 1.8rem;
  color: #757575;
  font-weight: 300;
  word-spacing: .01rem;
  font-style: italic; }

.footerlink {
  text-decoration: none;
  color: #ffffff; }

.c {
  position: fixed;
  bottom: 5rem;
  right: 5rem;
  background-color: aquamarine;
  width: 19rem;
  height: 43rem; }
