
$bp-largest:75em ;  // 1200px
$bp-large: 68.75em; //1100px\
$bp-medium: 56.25em; //900px
$bp-abovesmall:45.43em;
$bp-small: 37.5em; //600px
$bp-smallest:31.25rem; //500px
$bp-extrasmallest:27rem; //400px

*{
    padding: 0;
    margin: 0;
    outline: none;
    ::-moz-selection { /* Code for Firefox */
        color: #ffffff;
        background: #D31027;
      }
      
      ::selection {
        color: #ffffff;
        background: #D31027;
      }
}
*,
::after,
::before{
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
    
    @media only screen and (max-width:$bp-largest) {
        font-size: 58.5%;
    }
    @media only screen and (max-width:$bp-large) {
        font-size: 55.5%;
    }
    @media only screen and (max-width:$bp-medium) {
        font-size: 50.5%;
    }
    @media only screen and (max-width:$bp-abovesmall) {
        font-size: 48.5%;
    }
    @media only screen and (max-width:$bp-small) {
        font-size: 46.5%;
    }
    @media only screen and (max-width:$bp-smallest) {
        font-size: 40.5%;
    }
    @media only screen and (max-width:$bp-extrasmallest) {
        font-size: 43.5%;
    }
}
body{
    font-family: 'Lato', sans-serif;
    position: relative;
    color: #f5f5f5;
    line-height: 1.6;
    font-weight: 400;
}
.container{
    overflow: hidden;
}
///////////////////////
////////////navigation

.navigation{
    &_checkbox{

    }
    &_button{
        background-color: #fff;
        width: 7rem;
        height: 7rem;
        position: fixed;
        top: 6rem;
        right: 6rem;
        border-radius: 50%;
        z-index: 2000;
    }
    &_background{
        width: 6rem;
        height: 6rem;
        position: fixed;
        border-radius: 50%;
        top: 6.5rem;
        right: 6.5rem;
        z-index: 1000;
        background-image: radial-gradient( rgba(#D31027, .9),
        rgba(#EA384D, .9));
        transform: scale(80);
    }
    &_nav{
        height: 100vh;
        width: 100%;
        top: 0;
        left: 0;
        position: fixed;
        z-index: 1500;
    }
    &_list{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        list-style: none;
    }
    &_item{
        margin: 1rem;
    }
    &_link{
        &:link,
        &:visited{
        font-size: 3rem;
        font-weight: 300;
        color: #fff;
        text-decoration: none;
        padding: 1rem;
        background-size: 230%;
        text-transform: uppercase;
        transition: all .4s;
        display: inline-block;
        background-image: linear-gradient(120deg,#D31027 0%,#EA384D 50%,#ffff 50% );
        }
        &:hover,
        &:active{
           background-position: 100%;
           color: #D31027;
           transform: translateX(1rem);
        }
        
    }
}

/////////////
header
//////////
header{
    background-color: #ffffff;    
}
.headercontainer{
    display: flex;
    flex-direction: row;
    height: 100vh;
    background-color: #ffffff;
    @media only screen and (max-width:$bp-abovesmall) {
        height: 90vh;
    }
    @media only screen and (max-width:$bp-small) {
        height: 80vh;
    }
    @media only screen and (max-width:$bp-smallest) {
        height: 60vh;
    }
    @media only screen and (max-width:$bp-extrasmallest) {
        font-size: 50vh;
    }
    
    
}
.sec1{
    width: 45%;
    height: 100%;
    position: relative;
    display: flex;
    overflow: hidden;
    clip-path: polygon(0 0, 90% 0, 100% 100%, 0 100%);
    background-image: linear-gradient(
        to right bottom,
        rgba(#D31027, .9),
        rgba(#EA384D, .9)), url(../img/banner2.jpg);
        background-position: center;
        background-size: cover;
    &_img{
        position: absolute;
        bottom: 0;
        left: 3rem;
        height: 60rem;
        margin-bottom: -1rem;
        @media only screen and (max-width:$bp-abovesmall) {
            left: 2rem;
        }
        @media only screen and (max-width:$bp-small) {
            height: 50rem;
        }
        @media only screen and (max-width:$bp-extrasmallest) {
            left: 44%;
            height: 44rem;
            transform: translateX(-50%);
        }
    }
}
.btnholder{
    display: inline-block;
    flex-grow: 0;
}
.sec2{
    
    background-color: #ffffff;
    height: 100%;
    width:55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    &_btn{
        outline: none;
        
        border: none;
        font-family: 'Lato', sans-serif;
        padding: 1.4rem 5rem;
        font-size: 1.3rem;
        border-radius: 4rem;
        letter-spacing: 2px;
        color: #EA384D;
        cursor: pointer;
        text-transform: uppercase;
        background-color: #ffffff;
        box-shadow: 0 0 .4rem rgba($color: #000000, $alpha: .20);
        margin-top: 5rem;
        transition: all .3s;
        animation: comeUp 1.5s ease-in;
        display: inline-block;
        &:active{
            outline: none;
            border: none;
        }
        &:link{
            outline: none;
            border: none;
        }
        &:hover{
        color: #ffffff;
        transform: scale(1.1);
        background-color: #EA384D;
        }
    }
   
    
}
.circle{
    background-color: #ffff;
    color: transparent;
    
    position: absolute;
    opacity: .2;
    border-radius: 50%;
}
.c1{
    top: 0;
    left: 0;
    width: 14rem;
    height: 14rem;
    margin-left: -2rem;
    margin-top: -2rem;
    @media only screen and (max-width:$bp-extrasmallest) {
        transform: scale(.7);
    }
}
.c2{
    left: 1rem;
    bottom: 1rem;
    width: 20rem;
    height: 20rem;
    @media only screen and (max-width:$bp-extrasmallest) {
        transform: scale(.7);
    }
}
.c3{
    top: 40%;
    right: 0;
    margin-right: 1rem;
    width: 8rem;
    height: 8rem;
    @media only screen and (max-width:$bp-extrasmallest) {
        transform: scale(.7);
    }
}
.c4{
    top: 25%;
    right: 40%;
    width: 12rem;
    height: 12rem;
    @media only screen and (max-width:$bp-extrasmallest) {
        transform: scale(.7);
    }
}
//////////////////////////
/////////////About
.about{
    position: relative;
    background-color: #ffffff;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin:3rem  1rem;
    
    padding-top: 4rem;
    &_sec1{
        width: 40%;
        background-color: #ffffff; 
        @media only screen and (max-width:$bp-smallest) {
            width: 100%;
            padding: 2rem;
        }
    }
    &_sec2{
        position: relative;
        width: 60%;
        background-color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;
        @media only screen and (max-width:$bp-smallest) {
            width: 90%;
            height:40vh;
        }
        @media only screen and (max-width:$bp-extrasmallest) {
            height:50vh;
        }
        &_img1{
            width: 25rem;
            border-radius: .5rem;
            position: absolute;
            top: 8rem;
            left: 35%;
            //box-shadow: 0 0 .5rem rgba($color: #000000, $alpha: .4);
            z-index: 1;
            transition: all .3s;
            @media only screen and (max-width:$bp-smallest) {
                transform: scale(.8);
                top: 3rem;
            }
            @media only screen and (max-width:$bp-extrasmallest) {
                left: 50%;
                height: 40rem;
                transform: translateX(-50%) scale(.8);
            }
            
            &:hover{
                padding: 1rem;
                border: solid 1rem  #EA384D;
                z-index: 10;
                border-radius: .5rem;
            }
        }
        &_img2{
            width: 25rem;
            border-radius: .5rem;
            position: absolute;
            top: 2rem;
            right: 14rem;
            z-index: 1;
            transition: all .3s;
            &:hover{
                padding: 1rem;
                border: solid 1rem  #EA384D;
                z-index: 10;
                border-radius: .5rem;
            }
            @media only screen and (max-width:$bp-smallest) {
                right: 10rem;
                top: 1rem;
                transform: scale(.8);
            }
            @media only screen and (max-width:$bp-extrasmallest) {
                right: -25%;
                transform: translateX(-50%) scale(.8);
            }
        }
        &_img3{
            width: 20rem;
            position: absolute;
           top: 30rem;
           left: 13rem;
            //z-index: -2;
            @media only screen and (max-width:$bp-smallest) {
                left: 20rem;
                transform: scale(.8);
                top: 20rem;
            }
            @media only screen and (max-width:$bp-extrasmallest) {
                right: -35%;
                top: 24rem;
                transform: translateX(-60%) scale(.8);
            }
        }
        
    }
    &_btn{
        border: none;
        outline: none;
        margin-left: 9rem;
        margin-top: 1rem;
        font-size: 1.4rem;
        transition: all .3s;
        color: #757575;
        padding-bottom: 2px;
        background-color: transparent;
        &:hover{
            border-bottom: solid #EA384D;
            letter-spacing: .8px;
            padding-bottom: 2px;
        }
    }
    &_img4{
        width: 100%;
    }
    &_title{
        color: #757575;
        font-weight: 400;
        font-size: 1.9rem;
        width: 80%;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
        font-family: 'Lato', sans-serif;
        padding-left: 9rem;
        @media only screen and (max-width:$bp-medium) {
            padding-left: 5rem;
        }  

        @media only screen and (max-width:$bp-small) {
            padding-left: 3rem;
        }
    }
    &_text{
        color: #757575;
        font-weight: 300;
        font-size: 1.5rem;
        width: 90%;
        line-height: 2.5rem;
        font-family: 'Lato', sans-serif;
        padding-left: 9rem;
        @media only screen and (max-width:$bp-medium) {
            padding-left: 5rem;
        }
        @media only screen and (max-width:$bp-small) {
            padding-left: 3rem;
        }
    }
    @media only screen and (max-width:$bp-medium) {
        padding: 6rem 0;
        margin: .5rem;
    }
    @media only screen and (max-width:$bp-small) {
        
        margin: .35rem;
    }
    @media only screen and (max-width:$bp-smallest) {
        flex-direction: column;
    }

}
///////////////////////////////
//////////features
.features{
    
    flex-grow: 0;
    width: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
  
    margin-bottom: 10rem;
   // background-image: linear-gradient(rgba(#EA384D, .93), rgba(#ea4d38, .93)), url(../img/banner.jpg);

    .features_box{
        margin: 2.5rem 9rem;
       // background-color: royalblue;
       margin-top: 4rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: space-between;
        @media only screen and (max-width:$bp-medium) {
            margin: 2.5rem 4rem;
        }
        @media only screen and (max-width:$bp-abovesmall) {
            margin: 2.5rem 2rem;
        }
        @media only screen and (max-width:$bp-small) {
            margin: 2.5rem 1.5rem;
        }
        @media only screen and (max-width:$bp-smallest) {
            flex-direction: column;
            width: 100;
            align-items: center;
        }
    }
    &_svg{
        width: 10rem;
        height: 7rem;
        fill:  #ffffff;
        @media only screen and (max-width:$bp-abovesmall) {
            width: 6rem;
           height: 6rem;
        }
        @media only screen and (max-width:$bp-small) {
            width: 5rem;
           height: 5rem;
        }
        @media only screen and (max-width:$bp-smallest) {
            width: 10rem;
        height: 7rem;
        }
    }
    &_item{
        background-image: linear-gradient(rgba(#EA384D, .93), rgba(#ea4d38, .93)), url(../img/banner.jpg);
        animation: cardIn 1s ease-in;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding: 5rem 3rem;
        width: 25rem;
        border-radius: 2rem;
        border-top-right-radius: 0;
        border-bottom-left-radius:0 ;
        background-color: rgb(250, 250, 250);
        box-shadow: 0 .08rem .4rem rgba($color: #000000, $alpha: .10);
        transition: all .3s;
        background-size: cover;
        background-position: top;
        @media only screen and (max-width:$bp-abovesmall) {
            padding: 4rem 2rem;
        }
        @media only screen and (max-width:$bp-small) {
            padding: 3rem 1rem;
        }
        @media only screen and (max-width:$bp-smallest) {
            padding: 4rem 2rem;
            margin-bottom: 2rem;
            width:90%;
        }
        @media only screen and (max-width:$bp-extrasmallest) {
            margin-bottom: 3rem;
            width:85%;    
        }
        &:not(:last-child){
            margin-right: 4rem;
            @media only screen and (max-width:$bp-medium) {
                margin-right: 2rem;
            }
            @media only screen and (max-width:$bp-abovesmall) {
                margin-right: 1.3rem;
            }
            
        }
        &:hover{
            box-shadow: 0 .1rem 1rem rgba($color: #000000, $alpha: .10);
            transform: scale(1.01) translateY(1rem) rotate(10deg);
        }
    }
    &_text{
        color: #fcfcfc;
        font-weight: 400;
        font-size: 1.5rem;
        width: 90%;
        line-height: 2.5rem;
        font-family: 'Lato', sans-serif;
        text-align: center;
        line-height: 22px;
        margin-top: 1rem;
        @media only screen and (max-width:$bp-smallest) {
            font-size: 2rem;
        }
        
    }
}
////////////////////////
///////////Testimonials/
.icon-big{
    margin: auto;
    fill: #ffffff;
    width: 2.8rem;
    height: 2.8rem;
    cursor: pointer;
}
.icon-holder{
        background-color: transparent;
        width: 6.5rem;
        height: 6.5rem;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        border: .21rem solid #ffffff;
        transition: all .2s;
        &:hover{
            background-color: rgba(255, 255, 255, 0.2);
        }
        
}
.faculty{
    margin: 1rem 0rem;  
    background-image: linear-gradient(rgba(#EA384D, .93), rgba(#ea4d38, .93)), url(../img/banner.jpg);
    @media only screen and (max-width:$bp-small) {
        width: 100%;
    }
    &_base{
        display: flex;
        flex-direction: row;
        @media only screen and (max-width:$bp-small) {
            flex-direction: column;
            width: 100%;
        }

    }
    &_contact{
        display: flex;
        width: 50%;
        flex-direction: column;
        padding: 4rem;
        @media only screen and (max-width:$bp-small) {
            width: 100%;
        }
        
        &_item{
            display: flex;
            flex-direction: row;
            margin: 1.5rem;
            align-items: center;
            @media only screen and (max-width:$bp-small) {
                width: 100%;
                
            }
            &_svg{
                width:5rem;
                height: 5rem;
                fill:  #ffffff;
        }
        
    }
    }
    &_img{
        width: 28rem;
        border-top-left-radius: 4rem;
        border-bottom-right-radius: 4rem;
        margin: 2rem;
        
    }
    &_container{
       display: flex;
        width: 50%;
       flex-direction: column;
       justify-content: center;
       padding: 3rem;
       @media only screen and (max-width:$bp-small) {
        width: 100%;
    }
   }
    padding: 3rem;
    @media only screen and (max-width:$bp-extrasmallest) {
        padding: 1rem;
    }
    &_item{
        box-shadow: 0 .1rem 1.3rem rgba(0, 0, 0, 0.1);
        padding: 2rem;
       // width: 50%;
        background-color: #ffff;
        display: flex;
        border-radius: .5rem;
        flex-direction: row;
        &:not(:last-child){
            margin-bottom: 4rem;
        }
        @media only screen and (max-width:$bp-small) {
            flex-direction: column;
        }
        @media only screen and (max-width:$bp-extrasmallest) {
            margin: 1.1rem 0;
            padding: 1.1rem;
            flex-direction: row;
        }
        &_img{
            width: 13rem;
            height: 13rem;
            border-radius: 50%;
        }
        &_box{
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-left: 2rem;
            margin: .5rem;
        }
        &_title{
            font-size: 1.8rem;
            color: #757575;
            font-weight: 300;
            word-spacing: .01rem;
        }
        &_text{
            font-size: 1.6rem;
            color: #757575;
            font-weight: 400;
            word-spacing: .01rem;
        }
    }
} 
.socialmedia{
    padding: 4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.08);
    border-radius: .5rem;
    &_item{
        background-color: #ffffff;
        width: 6rem;
        height: 6rem;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all .2s;
        &:hover{
            transform: scale(1.1);
        }
        margin: 2rem;
        &_icon{
            
            width: 2rem;
            height: 2rem;
            margin: 2rem;
            transition: all .2s;
            fill: #EA384D;
            cursor: pointer;
            &_w{
                &:hover{
                    fill: #4FCE5D; 
                }
                
            }
            &_f{
                &:hover{
                    fill: #3b5998; 
                    
                }
                
            }
            &_y{
                &:hover{
                    fill: #c4302b; 
                }
                
            }
            &_i{
                &:hover{
                    fill: #ff0141; 
                }
                
            }
        }
    }
}
/////////////////////////////
//////////comments
.comments{
    padding: 2rem;
    background-position: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 5rem 6rem;
    border-top-left-radius: 1rem;
    @media only screen and (max-width:$bp-medium) {
        margin: 5rem 3rem;
        padding: 1.5rem;
    }
    @media only screen and (max-width:$bp-abovesmall) {
        margin: 5rem 1.5rem;
        padding: 1.5rem;
    }
    @media only screen and (max-width:$bp-small) {
        padding: 3rem 1rem;
    }
    @media only screen and (max-width:$bp-smallest) {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, min-content);
    }
    @media only screen and (max-width:$bp-extrasmallest) {
        padding: 2rem;
    }
    &_item{
        overflow: hidden;
        position: relative;
        margin: 2rem 0;
        width: 85%;
        box-shadow: 0 .1rem 1.3rem rgba(0, 0, 0, 0.1);
        padding: 2rem;
        background-color: #ffff;
        display: flex;
        border-radius: .5rem;
        align-self: center;
        justify-self: center;
        flex-direction: row;
        transition: all .2s;
        @media only screen and (max-width:$bp-large) {
            margin: 1.5rem 0;
            padding: 1.8rem;
            width: 89%;
        }
        @media only screen and (max-width:$bp-medium) {
            margin: 1.5rem 0;
            padding: 1.8rem;
            width: 90%;
        }
        @media only screen and (max-width:$bp-abovesmall) {
            margin: 1.3rem 0;
            padding: 1.5rem;
            width: 98%;
        }
        @media only screen and (max-width:$bp-small) {
            margin: 1.1rem 0;
            padding: 1.3rem;
            flex-direction: column;
        }
        @media only screen and (max-width:$bp-extrasmallest) {
            margin: 1.1rem 0;
            padding: 1.5rem;
            flex-direction: row;
        }
        &:hover{
            transform: scale(1.02);
            box-shadow: 0 .1rem 1.4rem rgba(0, 0, 0, 0.15);
           
        }
        &_item1{
         position: absolute;
                top: 25rem;
                left: -5rem;
                width: 20rem;
                height: 20rem;
        }
        &_img{
            
            width: 13rem;
            height: 13rem;
            border-radius: 50%;
            
        }
        &_box{
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-left: 2rem;
            @media only screen and (max-width:$bp-medium) {
                padding-left: 1.5rem;
            }
        }
        
    }
    @media only screen and (max-width:$bp-large) {
        margin: 5rem 4rem;
    }
    @media only screen and (max-width:$bp-small) {
        margin: 5rem 2.5rem;
    }
}
.commentHead{
    position: absolute;
    top: 0;
    left: -15%;
    @media only screen and (max-width:$bp-smallest) {
        position: relative;
       // padding-left: 3rem;
        left: 0;
    }
}
.commentcol1{
    grid-row: 1/span 2;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    position: relative;
    &:first-child{
        justify-self: start;
        align-self: flex-start;
    }
    
}
.quoteicon{
        font-size: 20rem;
        color: #79787831;
        position: absolute;
        top: -40%;
        right: 0;
        font-family: 'Lato', sans-serif;
}
///////////////
////////////////////////////
///////////Gallery
.gallery{
    margin: 12rem 0;
    padding: 4rem 2rem;
    width: 100%;
    @media only screen and (max-width:$bp-small) {
        margin: 6rem 0;
    }
    &_img{
        width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all .2s;
    &:hover{
        border: solid .5rem #EA384D;
        transform: scale(1.1);
    }
    
    }
}
.gallerytable{
    height: 85vh;
    display: grid;
    grid-template-columns: repeat(11,1fr);
    grid-template-rows: repeat(8,1fr);
    grid-gap: 1rem;
    @media only screen and (max-width:$bp-small) {
        height: 65vh;
    }
    @media only screen and (max-width:$bp-extrasmallest) {
        height: 50vh;
    }
}
.col1{
    background-color: #EA384D;
    grid-row: 1/span 8;
    grid-column: 1/span 3;
}
.col2{
    background-color: rgb(225, 65, 65);
    grid-row: 1/span 2;
    grid-column: 4/span 2;
}
.col3{
    background-color: #EA384D;
    grid-row: 1/span 2;
    grid-column: 6/span 2;
}
.col4{
    background-color: #EA384D;
    grid-row: 1/span 5;
    grid-column: 8/span 4;
}
.col5{
    background-color: #EA384D;
    grid-row: 3/span 3;
    grid-column: 4/span 4;
}
.col6{
    background-color: #EA384D;
    grid-row: 6/span 3;
    grid-column: 8/span 4;
}
.col7{
    background-color: #EA384D;
    grid-row: 6/span 3;
    grid-column: 4/span 4;
}
///////////////////////
/////////////////footer
.footer{
    width: 100%;
    background-color: rgb(43, 43, 43);
    display: flex;
    flex-direction: column;
    padding: 4rem 3rem;
    align-items: center;
    &_img{
        width: 16rem;
    }
    &_holder{
        margin: 3rem 0;
        display: flex;
        flex-direction: row;
        flex: 1;
        width: 100%;
        @media only screen and (max-width:$bp-small) {
            flex-direction: column;
        }
        &_sec1{
            width: 50%;
           // background-color: rgb(225, 65, 65);
           @media only screen and (max-width:$bp-small) {
            width:100%;
        }
        }
        &_credit{
            width: 50%;
           
            
            display: flex;
            align-items: center;
            justify-content: center;
            @media only screen and (max-width:$bp-small) {
                width:100%;
                margin-top: 4rem;
            }
            &_text{
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 1.4rem;
                padding: .5rem 1rem;
                margin: 1.5rem;
                text-align: center;
                @media only screen and (max-width:$bp-small) {
                    padding: .8rem 1rem;
                }
                &::before{
                    content: " ";
                    width: 70%;
                    height: 2px;
                    background-color: rgb(80, 80, 80);
                    position: absolute;
                    top: 0;

                }
            }
        }
        &_nav{
            list-style: none;
            display: flex;
            flex-direction: row;
            justify-content: center;
            position: relative;
            &::before{
                content: " ";
                width: 70%;
                height: 2px;
                background-color: rgb(80, 80, 80);
                position: absolute;
                
            }
            &_item{
                cursor: pointer;
                font-size: 1.4rem;
                padding: .5rem 1rem;
                margin: 1rem;
                transition: all .2s;
                background-color: rgb(43, 43, 43);
                &:hover{
                    transform: rotate(5deg) scale(1.2);
                    border: 2px solid #fff;
                }
            }
        }
    }
    
}
//////////////
//whatsapp

.whatsapp{
    position: fixed;
    cursor: pointer;
    display: inline-block;
    bottom: 5rem;
    right: 3rem;
    background-color: #ffffff;
    box-shadow: 0 0 .6rem rgba(78, 78, 78, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    border-radius: 50%;
    width: 6rem;
    height: 6rem;
    &_icon{
        width: 3.2rem;
        height: 3.2rem;
        fill: #4FCE5D;
    }
    &:hover{
        animation: btnDance 1s ease-in-out infinite;
    }
}
////////////////////////
//scrollbar
body::-webkit-scrollbar {
    width: 1.3em;
  }
   
  body::-webkit-scrollbar-track {
    //box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #f7f7f7;
  }
   
  body::-webkit-scrollbar-thumb {
    //background-color: rgb(173, 0, 66);
    //outline: 1px solid rgb(173, 0, 66);
    border-radius: 2rem;
    background-image: linear-gradient(
        to right bottom,
        rgba(#D31027, .9),
        rgba(#EA384D, .9));
  }
/////////////////////////////
/////////////animation
@keyframes cardIn{
    0%{
        transform: translateX(-7rem);
        opacity: 0;
    }
    100%{
        transform: translateX(0rem);
        opacity: 1;
    }
}
@keyframes sideIn{
    0%{
        opacity: 0;
        transform: translateX(-14rem);
    }
   
    60%{
        opacity: 0.7;
        transform: translateX(5rem);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
    
}

@keyframes sideInr{
    0%{
        opacity: 0;
        transform: translateX(14rem);
    }
   
    60%{
        opacity: 0.7;
        transform: translateX(-5rem);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
    
}
@keyframes zoom{
    0%{
        opacity: 0;
      //  transform: scale(0);
    }
   
    
    100%{
        opacity: 1;
       // transform: scale(1);
    }
    
}
@keyframes comeUp{
    0%{
        opacity: 0;
        transform: translateY(-10rem);
    }
    100%{
            opacity: 1;
            transform: translateY(0rem);
        
    }
}

@keyframes btnDance{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}

  