*{
    padding: 0;
    margin: 0;
}
*,
::after,
::before{
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;

}
body{
    font-family: 'Lato', sans-serif;
    
    color: #f5f5f5;
    line-height: 1.6;
    font-weight: 400;
}
.container{
    overflow: hidden;
}
/////////////
header
////////////
header{
    background-color: #ffffff;    
}
.headercontainer{
    display: flex;
    flex-direction: row;
    height: 100vh;
    background-color: #ffffff;
}
.sec1{
    width: 45%;
    height: 100%;
    position: relative;
    display: flex;
    overflow: hidden;
    clip-path: polygon(0 0, 90% 0, 100% 100%, 0 100%);
    background-image: linear-gradient(
        to right bottom,
        rgba(#D31027, 1),
        rgba(#EA384D, 1));
    &_img{
        position: absolute;
        bottom: 0;
        left: 3rem;
        height: 60rem;
        margin-bottom: -1rem;
        
    }
}
.sec2{
    
    background-color: #ffffff;
    
    width:55%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &_btn{
        outline: none;
        border: none;
        font-family: 'Lato', sans-serif;
        padding: 1.4rem 5rem;
        font-size: 1.3rem;
        border-radius: 4rem;
        letter-spacing: 2px;
        color: #EA384D;
        cursor: pointer;
        text-transform: uppercase;
        background-color: #ffffff;
        box-shadow: 0 0 .4rem rgba($color: #000000, $alpha: .20);
        margin-top: 5rem;
        transition: all .3s;
        animation: comeUp 1.5s ease-in;
        
        
        &:hover{
        color: #ffffff;
        transform: scale(1.1);
        background-color: #EA384D;
        }
    }
    
}
.circle{
    background-color: #ffff;
    color: transparent;
    
    position: absolute;
    opacity: .2;
    border-radius: 50%;
}
.c1{
    top: 0;
    left: 0;
    width: 14rem;
    height: 14rem;
    margin-left: -2rem;
    margin-top: -2rem;
}
.c2{
    left: 1rem;
    bottom: 1rem;
    width: 20rem;
    height: 20rem;
}
.c3{
    top: 40%;
    right: 0;
    margin-right: 1rem;
    width: 8rem;
    height: 8rem;
}
.c4{
    top: 25%;
    right: 40%;
    width: 12rem;
    height: 12rem;
}
//////////////////////////
/////////////About
.about{
    
    height: 100vh;
    padding: 10rem 0;
    position: relative;
    background-color: #ffffff;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 1rem;
    &_sec1{
        width: 40%;
        background-color: #ffffff;
        height: 100%;
        
        
    }
    &_sec2{
        position: relative;
        width: 60%;
        background-color: #ffffff;
        &_img1{
            width: 25rem;
            border-radius: .5rem;
            position: absolute;
            top: 8rem;
            left: 20%;
            //box-shadow: 0 0 .5rem rgba($color: #000000, $alpha: .4);
            z-index: 1;
            transition: all .3s;
            &:hover{
                padding: 1rem;
                border: solid 1rem  #EA384D;
                z-index: 10;
                border-radius: .5rem;
            }
        }
        &_img2{
            width: 25rem;
            border-radius: .5rem;
            position: absolute;
            top: 2rem;
            right: 19rem;
            z-index: 1;
            transition: all .3s;
            &:hover{
                padding: 1rem;
                border: solid 1rem  #EA384D;
                z-index: 10;
                border-radius: .5rem;
            }
        }
        &_img3{
            width: 20rem;
            position: absolute;
           top: 30rem;
           left: 3rem;
            //z-index: -2;
        }
        
    }
    &_btn{
        border: none;
        outline: none;
        margin-left: 9rem;
        margin-top: 1rem;
        font-size: 1.4rem;
        transition: all .3s;
        color: #757575;
        padding-bottom: 2px;
        background-color: transparent;
        &:hover{
            border-bottom: solid #EA384D;
            letter-spacing: .8px;
            padding-bottom: 2px;
        }
    }
    &_img4{
        width: 100%;
    }
    &_title{
        color: #757575;
        font-weight: 400;
        font-size: 1.9rem;
        width: 80%;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
        font-family: 'Lato', sans-serif;
        padding-left: 9rem;
    }
    &_text{
        color: #757575;
        font-weight: 300;
        font-size: 1.5rem;
        width: 90%;
        line-height: 2.5rem;
        font-family: 'Lato', sans-serif;
        padding-left: 9rem;
    }
}
///////////////////////////////
//////////features
.features{
    
    flex-grow: 0;
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 3rem 0;
    margin-top: 11rem;
   // background-image: linear-gradient(rgba(#EA384D, .93), rgba(#ea4d38, .93)), url(../img/banner.jpg);

    .features_box{
        margin: 2.5rem 9rem;
       // background-color: royalblue;
       margin-top: 4rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: space-between;
    }
    &_svg{
        width: 10rem;
        height: 7rem;
        fill:  #ffffff;
    }
    &_item{
        background-image: linear-gradient(rgba(#EA384D, .93), rgba(#ea4d38, .93)), url(../img/banner.jpg);
        animation: cardIn 1s ease-in;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding: 5rem 3rem;
        width: 25rem;
        border-radius: 2rem;
        border-top-right-radius: 0;
        border-bottom-left-radius:0 ;
        background-color: rgb(250, 250, 250);
        box-shadow: 0 .08rem .4rem rgba($color: #000000, $alpha: .10);
        transition: all .3s;
        background-size: cover;
        background-position: top;
        &:not(:last-child){
            margin-right: 4rem;
        }
        &:hover{
            box-shadow: 0 .1rem 1rem rgba($color: #000000, $alpha: .10);
            transform: scale(1.01) translateY(1rem) rotate(10deg);
        }
    }
    &_text{
        color: #fcfcfc;
        font-weight: 400;
        font-size: 1.5rem;
        width: 90%;
        line-height: 2.5rem;
        font-family: 'Lato', sans-serif;
        text-align: center;
        line-height: 22px;
        margin-top: 1rem;
        
    }
}
////////////////////////
///////////Testimonials/
.icon-big{
    margin: auto;
    fill: #ffffff;
    width: 2.8rem;
    height: 2.8rem;
    cursor: pointer;
}
.icon-holder{
        background-color: transparent;
        width: 6.5rem;
        height: 6.5rem;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        border: .21rem solid #ffffff;
        transition: all .2s;
        &:hover{
            background-color: rgba(255, 255, 255, 0.2);
            
        }
        
}
.faculty{
    margin: 1rem 0rem;  
    background-image: linear-gradient(rgba(#EA384D, .93), rgba(#ea4d38, .93)), url(../img/banner.jpg);
    &_base{
        display: flex;
        flex-direction: row;
    }
    &_contact{
        display: flex;
        width: 50%;
        flex-direction: column;
        padding: 4rem;
        &_item{
            display: flex;
            flex-direction: row;
            margin: 1.5rem;
            align-items: center;
            
            &_svg{
                width:5rem;
                height: 5rem;
                fill:  #ffffff;
        }
    }
    }
    &_img{
        width: 28rem;
        border-top-left-radius: 4rem;
        border-bottom-right-radius: 4rem;
        margin: 2rem;
    }
    &_container{
       display: flex;
        width: 50%;
       flex-direction: column;
       justify-content: center;
       padding: 3rem;
   }
    padding: 3rem;
    &_item{
        box-shadow: 0 .1rem 1.3rem rgba(0, 0, 0, 0.1);
        padding: 2rem;
       // width: 50%;
        background-color: #ffff;
        display: flex;
        border-radius: .5rem;
        flex-direction: row;
        &:not(:last-child){
            margin-bottom: 4rem;
        }
        &_img{
            width: 13rem;
            height: 13rem;
            border-radius: 50%;
        }
        &_box{
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-left: 2rem;
        }
        &_title{
            font-size: 1.8rem;
            color: #757575;
            font-weight: 300;
            word-spacing: .01rem;
        }
        &_text{
            font-size: 1.6rem;
            color: #757575;
            font-weight: 400;
            word-spacing: .01rem;
        }
    }
} 
.socialmedia{
    padding: 4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.08);
    border-radius: .5rem;
    &_item{
        background-color: #ffffff;
        width: 6rem;
        height: 6rem;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all .2s;
        &:hover{
            transform: scale(1.1);
        }
        margin: 2rem;
        &_icon{
            
            width: 2rem;
            height: 2rem;
            margin: 2rem;
            transition: all .2s;
            fill: #EA384D;
            cursor: pointer;
            &_w{
                &:hover{
                    fill: #4FCE5D; 
                }
                
            }
            &_f{
                &:hover{
                    fill: #3b5998; 
                    
                }
                
            }
            &_y{
                &:hover{
                    fill: #c4302b; 
                }
                
            }
            &_i{
                &:hover{
                    fill: #ff0141; 
                }
                
            }
        }
    }
}
/////////////////////////////
//////////comments
.comments{
    padding: 2rem;
    background-position: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 5rem 6rem;
    border-top-left-radius: 1rem;
    &_item{
        overflow: hidden;
        position: relative;
        margin: 2rem 0;
        width: 85%;
        box-shadow: 0 .1rem 1.3rem rgba(0, 0, 0, 0.1);
        padding: 2rem;
        background-color: #ffff;
        display: flex;
        border-radius: .5rem;
        align-self: center;
        justify-self: center;
        flex-direction: row;
        transition: all .2s;
        &:hover{
            transform: scale(1.02);
            box-shadow: 0 .1rem 1.4rem rgba(0, 0, 0, 0.15);
           
        }
        &_item1{
         position: absolute;
                top: 25rem;
                left: -5rem;
                width: 20rem;
                height: 20rem;
        }
        &_img{
            
            width: 13rem;
            height: 13rem;
            border-radius: 50%;
            
        }
        &_box{
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-left: 2rem;
        }
        
    }
    
}
.commentHead{
    position: absolute;
    top: 0;
    left: -15%;
 
}
.commentcol1{
    grid-row: 1/span 2;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    position: relative;
    &:first-child{
        justify-self: start;
        align-self: flex-start;
    }
    
}
.quoteicon{
        font-size: 20rem;
        color: #79787831;
        position: absolute;
        top: -40%;
        right: 0;
        font-family: 'Lato', sans-serif;
}

////////////////////////////
///////////Gallery
.gallery{
    margin: 8rem 0;
    padding: 4rem 2rem;
    width: 100%;

    &_img{
        width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all .2s;
    &:hover{
        border: solid 1rem #EA384D;
        transform: rotate(5deg);
    }
    
    }
}
.gallerytable{
    height: 85vh;
    display: grid;
    grid-template-columns: repeat(11,1fr);
    grid-template-rows: repeat(8,1fr);
    grid-gap: 1rem;
}
.col1{
    background-color: #EA384D;
    grid-row: 1/span 8;
    grid-column: 1/span 3;
}
.col2{
    background-color: rgb(225, 65, 65);
    grid-row: 1/span 2;
    grid-column: 4/span 2;
}
.col3{
    background-color: #EA384D;
    grid-row: 1/span 2;
    grid-column: 6/span 2;
}
.col4{
    background-color: #EA384D;
    grid-row: 1/span 5;
    grid-column: 8/span 4;
}
.col5{
    background-color: #EA384D;
    grid-row: 3/span 3;
    grid-column: 4/span 4;
}
.col6{
    background-color: #EA384D;
    grid-row: 6/span 3;
    grid-column: 8/span 4;
}
.col7{
    background-color: #EA384D;
    grid-row: 6/span 3;
    grid-column: 4/span 4;
}
/////////////////////////
/////////////////footer
.footer{
    width: 100%;
    background-color: rgb(43, 43, 43);
    display: flex;
    flex-direction: column;
    padding: 3rem;
    align-items: center;
    &_img{
        width: 16rem;
    }
    &_holder{
        display: flex;
        flex-direction: row;
        flex: 1;
        width: 100%;
        &_sec1{
            width: 50%;
            background-color: rgb(225, 65, 65);
            &_nav{
                list-style: none;
            }
        }
    }
    
}

/////////////////////////////
/////////////animation
@keyframes cardIn{
    0%{
        transform: translateX(-7rem);
        opacity: 0;
    }
    100%{
        transform: translateX(0rem);
        opacity: 1;
    }
}
@keyframes sideIn{
    0%{
        opacity: 0;
        transform: translateX(-14rem);
    }
   
    60%{
        opacity: 0.7;
        transform: translateX(5rem);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
    
}

@keyframes sideInr{
    0%{
        opacity: 0;
        transform: translateX(14rem);
    }
   
    60%{
        opacity: 0.7;
        transform: translateX(-5rem);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
    
}
@keyframes zoom{
    0%{
        opacity: 0;
      //  transform: scale(0);
    }
   
    
    100%{
        opacity: 1;
       // transform: scale(1);
    }
    
}
@keyframes comeUp{
    0%{
        opacity: 0;
        transform: translateY(-10rem);
    }
    100%{
            opacity: 1;
            transform: translateY(0rem);
        
    }
}
