h1{
    color: #EA384D;
    font-size: 8rem;
    font-weight: 700;
    letter-spacing: .4rem;
    line-height: 5rem;
   // text-transform: uppercase;
    margin-top: 2.5rem;
    margin-bottom: .2rem;
    
    animation: zoom 1.4s;
    @media only screen and (max-width:$bp-extrasmallest) {
        font-size: 5rem;
    }
}

h2{
    font-size: 3.2rem;
    color:#757575;
    font-weight: 300;
    word-spacing: .01rem;
    animation: sideInr 2s ease-in-out;
    @media only screen and (max-width:$bp-extrasmallest) {
        font-size: 2.2rem;
    }
}
h3{
    font-size: 3.2rem;
    color: #757575;
    font-weight: 300;
    word-spacing: .01rem;
    animation: sideIn 2s ease-in-out;
    @media only screen and (max-width:$bp-extrasmallest) {
        font-size: 2.2rem;
    }
}
h5{
    font-size: 2rem;
    color: #f7f7f7;
    font-weight: 300;
    word-spacing: .01rem;
    @media only screen and (max-width:$bp-abovesmall) {
        font-size: 1.8rem;
    }
    @media only screen and (max-width:$bp-smallest) {
        font-size: 2rem;
    }
    
}
h4{
    display: inline-block;
    font-size: 3rem;
    width: auto;
    color: #757575;
    font-weight: 300;
   // margin-top: 5rem;
    word-spacing: .01rem; 
    font-weight: 700;
    font-family: 'Lato', sans-serif;
    padding-left: 9rem;
    transition: all .2s;
    @media only screen and (max-width:$bp-medium) {
        padding-left: 5rem;
    }
    @media only screen and (max-width:$bp-small) {
        padding-left: 3rem;
        margin-bottom: 1rem;
    }
    &:hover{
        text-shadow: 0 0 .6rem rgba($color: #000000, $alpha: .2);
       letter-spacing: 2px;
        
    }
   
}
.h4style{
    margin-top: 1rem;
}
h6{
    font-size: 2rem;
    color: #EA384D;
    font-weight: 400;
    word-spacing: .01rem;
    
    
}

.facultyhead{
    margin-left: 0;
    display: inline-block;
    font-size: 3rem;
   
    color: #ffffff;
    font-weight: 300;
   // margin-top: 5rem;
    word-spacing: .01rem; 
    font-weight: 700;
    font-family: 'Lato', sans-serif;
    

    &:hover{
        text-shadow: 0 0 .6rem rgba($color: #000000, $alpha: .2);
       
        
    }
}
.faculty_contact_text{
    font-size: 1.8rem;
    margin-left: 2rem;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    transition: all .2s;
    cursor: pointer;
    &:hover{
        letter-spacing: 1.5px;
        border-bottom: solid 2px rgba(255, 255, 255, 0.4);
    }
}


q{
    font-size: 1.8rem;
            color: #757575;
            font-weight: 300;
            word-spacing: .01rem;
            font-style: italic;
}

.footerlink{
    text-decoration: none;
    color: #ffffff;
}
.list{
    font-size: 1.4rem;
            color: #757575;
            font-weight: 400;
            word-spacing: .01rem;
            margin: .5rem 0;
}
.bold{
    width: 100%;
    text-align: center;
}